@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

h1 {
  font-family: allura, cursive;
  color: #a67245;
  font-weight: 100;
}

h2 {
  font-family: poppins, sans-serif;
}

h3 {
  font-family: poppins, sans-serif;
  color: #a67245;
}

h2,
h3,
strong {
  text-transform: uppercase;
}

p {
  font-family: roboto, sans-serif;
}

img {
  border-radius: 50%;
}

a,
a:visited {
  color: #eeeeee;
}

header {
  background: url(./../img/bg-slider-06.jpg) center/cover;
  height: 100vh;
  position: relative;
}
header nav {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 90%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 900px) {
  header nav {
    width: 75%;
  }
}
header nav ul {
  display: flex;
}
header nav ul li {
  font-family: roboto, sans-serif;
  color: #eeeeee;
  cursor: pointer;
}
header nav .nav-resto {
  display: flex;
  justify-content: center;
  width: 50%;
}
@media screen and (min-width: 900px) {
  header nav .nav-resto {
    width: 15%;
  }
}
header nav .nav-resto h1 {
  font-size: 4.5rem;
  color: #eeeeee;
}
header nav .nav-menu {
  display: none;
}
@media screen and (min-width: 900px) {
  header nav .nav-menu {
    display: flex;
    justify-content: space-around;
    width: 75%;
    font-size: 1.4rem;
  }
}
header nav .nav-menu li {
  transition: 0.5s;
}
header nav .nav-menu li:hover {
  color: #a67245;
  border-bottom: 1px solid #a67245;
}
header .nav-social {
  justify-content: space-evenly;
  font-size: 1.5rem;
  width: 50%;
}
@media screen and (min-width: 900px) {
  header .nav-social {
    width: 10%;
  }
}
header .nav-social li {
  transition: 0.3s;
}
header .nav-social li:hover {
  transform: scale(1.4);
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 85vh;
  opacity: 0;
  transform: translateY(40px);
  -webkit-animation: headerAnim 1.5s forwards;
          animation: headerAnim 1.5s forwards;
}
@-webkit-keyframes headerAnim {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes headerAnim {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.header-content h1 {
  font-size: 3.5rem;
}
@media screen and (min-width: 900px) {
  .header-content h1 {
    margin: 0 0 -40px;
    font-size: 5.5rem;
  }
}
.header-content h2 {
  font-size: 4rem;
  letter-spacing: 7px;
  color: #eeeeee;
}
@media screen and (min-width: 900px) {
  .header-content h2 {
    font-size: 7rem;
    letter-spacing: 7px;
  }
}
.header-content img {
  margin: 10px auto 50px;
}
.header-content p {
  text-align: center;
  width: 75vw;
  font-size: 1.3rem;
  letter-spacing: 5px;
  color: #eeeeee;
}
@media screen and (min-width: 900px) {
  .header-content p {
    font-size: 1.5rem;
    letter-spacing: 7px;
  }
}

main .store {
  display: grid;
}
@media screen and (min-width: 900px) {
  main .store {
    grid-template-columns: 50% 50%;
  }
}
main .store .store-left {
  display: flex;
  min-height: 75vh;
  padding: 20px;
  background: #eeeeee;
}
@media screen and (min-width: 600px) {
  main .store .store-left {
    min-height: 60vh;
  }
}
main .store .store-left .store-border {
  display: flex;
  align-items: center;
  border: 1px dashed #a67245;
}
main .store .store-left .store-border .store-content {
  text-align: center;
}
main .store .store-left .store-border .store-content h1 {
  font-size: 4rem;
  margin: 30px 0 -20px;
}
main .store .store-left .store-border .store-content h2 {
  font-size: 2.3rem;
  font-weight: 700;
}
main .store .store-left .store-border .store-content .logo-store {
  height: 30px;
  margin: 30px 0;
}
@media screen and (min-width: 600px) {
  main .store .store-left .store-border .store-content .logo-store {
    margin: 20px 0;
  }
}
main .store .store-left .store-border .store-content p {
  width: 85%;
  margin: 0 auto;
  font-size: 1.6rem;
}
main .store .store-left .store-border .store-content .photo-chef1 {
  height: 70px;
  margin: 15px 0;
}
main .store .store-left .store-border .store-content #nom-chef {
  font-family: poppins, sans-serif;
  margin: 0 auto;
}
main .store .store-left .store-border .store-content #chef {
  font-family: poppins, sans-serif;
  font-size: 1.3rem;
  color: #babbb7;
  margin: -5px auto 0;
}
@media screen and (min-width: 900px) {
  main .store .store-img {
    background: url(./../img/store-01.jpg) center/cover;
  }
}
main .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #21201e;
  color: #eeeeee;
  padding: 50px 0 0;
  position: relative;
}
main .menu h1 {
  font-size: 4rem;
}
main .menu .menu-logo {
  height: 40px;
  margin: 35px 0;
}
main .menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85vw;
}
@media screen and (min-width: 600px) {
  main .menu ul {
    width: 60vw;
  }
}
@media screen and (min-width: 900px) {
  main .menu ul {
    width: 60vw;
    width: 820px;
  }
}
@media screen and (min-width: 1200px) {
  main .menu ul {
    width: 50vw;
  }
}
main .menu ul li {
  font-family: roboto, sans-serif;
  font-size: 1.5rem;
  margin: 15px 0 30px;
  padding: 0 0 5px;
  border-bottom: 1px solid #eeeeee;
}
main .menu .menu-carte {
  display: grid;
  grid-template-columns: 1fr;
  width: 85vw;
  padding: 20px;
  background: #eeeeee;
  color: #000000;
  border-top: 5px solid #a67245;
  z-index: 10;
}
@media screen and (min-width: 500px) {
  main .menu .menu-carte {
    width: 75vw;
  }
}
@media screen and (min-width: 700px) {
  main .menu .menu-carte {
    width: 65vw;
  }
}
@media screen and (min-width: 900px) {
  main .menu .menu-carte {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
    min-width: 820px;
    width: 60vw;
  }
}
@media screen and (min-width: 1200px) {
  main .menu .menu-carte {
    width: 50vw;
  }
}
main .menu .menu-carte div {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  align-items: center;
  height: 15vh;
  padding: 20px 0;
  border-bottom: 1px dashed #a9a69e;
}
@media screen and (min-width: 1200px) {
  main .menu .menu-carte div {
    height: 20vh;
  }
}
main .menu .menu-carte div img {
  height: 70px;
}
@media screen and (min-width: 500px) {
  main .menu .menu-carte div img {
    height: 90px;
  }
}
@media screen and (min-width: 1200px) {
  main .menu .menu-carte div img {
    height: 100px;
  }
}
main .menu .menu-carte div p {
  font-size: 1.4rem;
  line-height: 22px;
  color: #595956;
}
@media screen and (min-width: 900px) {
  main .menu .menu-carte div p {
    font-size: 1.5rem;
  }
}
main .menu .menu-carte div h3 {
  font-family: roboto, sans-serif;
  font-size: 2rem;
}
@media screen and (min-width: 900px) {
  main .menu .menu-carte div h3 {
    font-size: 2.2rem;
  }
}
main .menu .bg-menu {
  position: absolute;
  z-index: 5;
  background: url(./../img/bg-menu-01.jpg) center/cover;
  height: 80vh;
  width: 100%;
  bottom: -145px;
}
main .reservation {
  display: grid;
  justify-content: center;
  margin: 145px 0 0;
  padding: 100px 0;
  background-color: #21201e;
  color: #eeeeee;
}
@media screen and (min-width: 900px) {
  main .reservation {
    grid-template-columns: 25% 65%;
  }
}
main .reservation .time-border {
  width: 85vw;
  padding: 20px;
  background: #000000;
}
@media screen and (min-width: 500px) {
  main .reservation .time-border {
    width: 75vw;
  }
}
@media screen and (min-width: 700px) {
  main .reservation .time-border {
    width: 65vw;
  }
}
main .reservation .time-border .time-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000000;
  border: 1px dashed #757575;
  padding: 30px 0 10px;
}
main .reservation .time-border .time-open h1 {
  font-size: 4rem;
  margin-bottom: -15px;
}
main .reservation .time-border .time-open h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
main .reservation .time-border .time-open img {
  height: 30px;
}
main .reservation .time-border .time-open h3 {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 40px 0 20px;
}
main .reservation .time-border .time-open p {
  font-size: 1.3rem;
}
main .reservation .online-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
  padding: 30px 0 20px;
  background: #eeeeee;
  color: #000000;
}
@media screen and (min-width: 500px) {
  main .reservation .online-booking {
    width: 75vw;
  }
}
@media screen and (min-width: 700px) {
  main .reservation .online-booking {
    width: 65vw;
  }
}
main .reservation .online-booking h1 {
  font-size: 4rem;
  margin-bottom: -15px;
}
main .reservation .online-booking h2 {
  font-size: 2.5rem;
  letter-spacing: 1px;
}
main .reservation .online-booking img {
  height: 30px;
  margin: 30px;
}
main .reservation .online-booking form {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 10px;
}
main .reservation .online-booking form select,
main .reservation .online-booking form input {
  width: 220px;
  border: none;
  border-bottom: 1px solid #babbb7;
  background: none;
  padding: 10px 0;
  margin-bottom: 10px;
}
main .reservation .online-booking .submit-container input[type=submit] {
  width: 200px;
  margin-top: 20px;
  padding: 15px 35px;
  cursor: pointer;
  font-family: poppins, sans-serif;
  background: #21201e;
  color: white;
  letter-spacing: 3px;
  border-radius: 50px;
  transition: 0.3s;
}
main .reservation .online-booking .submit-container input[type=submit]:hover {
  transform: scale(1.05);
}/*# sourceMappingURL=index.css.map */