main {
	// ***************************** STORE *****************************

	.store {
		display: grid;
		@media screen and (min-width: 900px) {
			grid-template-columns: 50% 50%;
		}

		.store-left {
			display: flex;
			min-height: 75vh;
			padding: 20px;
			background: $white1;

			@media screen and (min-width: 600px) {
				min-height: 60vh;
			}

			.store-border {
				display: flex;
				align-items: center;
				border: 1px dashed $brown1;

				.store-content {
					text-align: center;

					h1 {
						font-size: 4rem;
						margin: 30px 0 -20px;
					}
					h2 {
						font-size: 2.3rem;
						font-weight: 700;
					}
					.logo-store {
						height: 30px;
						margin: 30px 0;

						@media screen and (min-width: 600px) {
							margin: 20px 0;
						}
					}
					p {
						width: 85%;
						margin: 0 auto;
						font-size: 1.6rem;
					}
					.photo-chef1 {
						height: 70px;
						margin: 15px 0;
					}
					#nom-chef {
						font-family: $font2;
						margin: 0 auto;
					}
					#chef {
						font-family: $font2;
						font-size: 1.3rem;
						color: $grey1;
						margin: -5px auto 0;
					}
				}
			}
		}

		.store-img {
			@media screen and (min-width: 900px) {
				background: url(./../img/store-01.jpg) center/cover;
			}
		}
	}

	// ***************************** MENU *****************************

	.menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $black1;
		color: $white1;
		padding: 50px 0 0;
		position: relative;

		h1 {
			font-size: 4rem;
		}
		.menu-logo {
			height: 40px;
			margin: 35px 0;
		}
		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			width: 85vw;

			@media screen and (min-width: 600px) {
				width: 60vw;
			}
			@media screen and (min-width: 900px) {
				width: 60vw;
				width: 820px;
			}
			@media screen and (min-width: 1200px) {
				width: 50vw;
			}

			li {
				font-family: $font3;
				font-size: 1.5rem;
				margin: 15px 0 30px;
				padding: 0 0 5px;
				border-bottom: 1px solid $white1;
			}
		}

		.menu-carte {
			display: grid;
			grid-template-columns: 1fr;
			width: 85vw;
			padding: 20px;
			background: $white1;
			color: $black2;
			border-top: 5px solid $brown1;
			z-index: 10;

			@media screen and (min-width: 500px) {
				width: 75vw;
			}
			@media screen and (min-width: 700px) {
				width: 65vw;
			}
			@media screen and (min-width: 900px) {
				grid-template-columns: 1fr 1fr;
				column-gap: 20px;
				min-width: 820px;
				width: 60vw;
			}
			@media screen and (min-width: 1200px) {
				width: 50vw;
			}

			div {
				display: grid;
				grid-template-columns: 30% 60% 10%;
				align-items: center;
				height: 15vh;
				padding: 20px 0;
				border-bottom: 1px dashed $grey3;

				@media screen and (min-width: 1200px) {
					height: 20vh;
				}

				img {
					height: 70px;

					@media screen and (min-width: 500px) {
						height: 90px;
					}
					@media screen and (min-width: 1200px) {
						height: 100px;
					}
				}
				p {
					font-size: 1.4rem;
					line-height: 22px;
					color: $grey5;
					@media screen and (min-width: 900px) {
						font-size: 1.5rem;
					}
				}
				h3 {
					font-family: $font3;
					font-size: 2rem;
					@media screen and (min-width: 900px) {
						font-size: 2.2rem;
					}
				}
			}
		}

		.bg-menu {
			position: absolute;
			z-index: 5;
			background: url(./../img/bg-menu-01.jpg) center/cover;
			height: 80vh;
			width: 100%;
			bottom: -145px;
		}
	}

	// ***************************** RESERVATION *****************************

	.reservation {
		display: grid;
		justify-content: center;
		margin: 145px 0 0;
		padding: 100px 0;
		background-color: $black1;
		color: $white1;

		.reserv-content {
			display: grid;
			width: 100%;

			@media screen and (min-width: 900px) {
				grid-template-columns: 40% 60%;
				width: 90vw;
			}
			@media screen and (min-width: 1150px) {
				grid-template-columns: 30% 70%;
				width: 75vw;
				max-width: 1000px;
			}

			.time-border {
				width: 85vw;
				padding: 20px;
				background: $black2;

				@media screen and (min-width: 500px) {
					width: 75vw;
				}
				@media screen and (min-width: 700px) {
					width: 65vw;
				}
				@media screen and (min-width: 900px) {
					width: 100%;
				}

				.time-open {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					height: 100%;
					background: $black2;
					border: 1px dashed $grey4;
					padding: 30px 0 10px;

					h1 {
						font-size: 4rem;
						margin-bottom: -15px;
					}
					h2 {
						font-size: 2rem;
						letter-spacing: 1px;
						margin-bottom: 30px;
					}
					img {
						height: 30px;
					}
					h3 {
						font-size: 1.7rem;
						font-weight: 500;
						margin: 40px 0 20px;
					}
					p {
						font-size: 1.3rem;
					}
				}
			}

			.online-booking {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 85vw;
				padding: 30px 0 20px;
				background: $white1;
				color: $black2;

				@media screen and (min-width: 500px) {
					width: 75vw;
				}
				@media screen and (min-width: 700px) {
					width: 65vw;
				}
				@media screen and (min-width: 900px) {
					width: 100%;
				}

				h1 {
					font-size: 4rem;
					margin-bottom: -15px;
				}
				h2 {
					font-size: 2.5rem;
					letter-spacing: 1px;
				}
				img {
					height: 30px;
					margin: 30px;
				}
				form {
					display: grid;
					grid-template-columns: 1fr;
					justify-items: center;
					row-gap: 10px;

					@media screen and (min-width: 1150px) {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						align-items: center;
						gap: 30px;
						width: 80%;
					}

					select,
					input {
						width: 220px;
						border: none;
						border-bottom: 1px solid $grey1;
						background: none;
						padding: 10px 0;
						margin-bottom: 10px;

						@media screen and (min-width: 1150px) {
							width: 160px;
						}
					}
				}
				.submit-container {
					input[type="submit"] {
						width: 170px;
						margin-top: 20px;
						padding: 15px 30px;
						cursor: pointer;
						font-family: $font2;
						background: $black1;
						color: white;
						letter-spacing: 3px;
						border-radius: 50px;
						transition: 0.3s;

						&:hover {
							transform: scale(1.05);
						}
					}
				}
			}
		}
	}
	// ***************************** EVENT *****************************

	.event {
		display: none;

		@media screen and (min-width: 1150px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			background: $black1;

			h1 {
				font-size: 4rem;
				margin-bottom: -13px;
			}
			h2 {
				font-size: 3.2rem;
				letter-spacing: 2px;
				margin-bottom: 30px;
				color: $white1;
			}
			img {
				height: 30px;
				margin-bottom: 40px;
			}

			.event-content {
				display: grid;
				grid-template-columns: 59.25% 39.25%;
				grid-template-rows: 48.1% 48.1%;
				grid-template-areas:
					"ev1 ev3"
					"ev2 ev3";
				gap: 15px;
				width: 1000px;
				margin-bottom: 170px;

				.event-date {
					display: flex;
					flex-direction: column;
					text-align: center;
					justify-content: center;
					height: 85px;
					width: 85px;
					background: $black1;
					color: $white1;

					p:nth-child(1) {
						font-family: $font3;
						font-weight: 900;
						font-size: 2.5rem;
						margin-bottom: -5px;
					}
					p:nth-child(2) {
						font-family: $font3;
						font-size: 1.5rem;
					}
				}

				.nom-event {
					font-size: 2.7rem;
					color: $grey5;
				}
				.lieu-horaire {
					font-size: 1.4rem;
					letter-spacing: 1px;
					word-spacing: 3px;
					color: $grey1;
				}
				.buy-ticket {
					font-family: $font2;
					font-size: 1.5rem;
					letter-spacing: 2px;
					color: $grey5;
				}

				.event-1 {
					grid-area: ev1;
					display: flex;

					.event-1-img {
						display: flex;
						align-items: center;
						justify-content: center;
						background: url(./../img/event-01.jpg) center/cover;
						aspect-ratio: 1/1;
					}
					.event-1-info {
						display: flex;
						flex-direction: column;
						justify-content: space-evenly;
						width: 100%;
						padding: 15px;
						background: $white1;
					}
				}
				.event-2 {
					grid-area: ev2;
					display: flex;

					.event-2-img {
						display: flex;
						align-items: center;
						justify-content: center;
						background: url(./../img/event-02.jpg) center/cover;
						aspect-ratio: 1/1;
					}
					.event-2-info {
						display: flex;
						flex-direction: column;
						justify-content: space-evenly;
						width: 100%;
						padding: 15px;
						background: $white1;
					}
				}
				.event-3 {
					grid-area: ev3;

					.event-3-img {
						display: flex;
						align-items: center;
						justify-content: center;
						background: url(./../img/event-03.jpg) center/cover;
						width: 393px;
						aspect-ratio: 1/1;

						.event-3-info {
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: space-between;
							text-align: center;
							width: 90%;
							height: 90%;
							padding-bottom: 40px;
							background: $white1;
						}

						.event-3-date {
							display: flex;
							flex-direction: column;
							text-align: center;
							justify-content: center;
							height: 85px;
							width: 85px;
							background: $black1;
							color: $white1;

							p:nth-child(1) {
								font-family: $font3;
								font-weight: 900;
								font-size: 2.5rem;
								margin-bottom: -5px;
							}
							p:nth-child(2) {
								font-family: $font3;
								font-size: 1.5rem;
							}
						}
					}
				}
			}
		}
	}
	// ***************************** CITATION *****************************

	.citation {
		display: flex;
		justify-content: center;
		text-align: center;
		position: relative;
		background: $black1;

		.citation-content {
			position: relative;
			z-index: 10;
			width: 85vw;
			padding: 60px;
			background: $white1;

			@media screen and (min-width: 500px) {
				width: 75vw;
			}
			@media screen and (min-width: 800px) {
				width: 65vw;
				max-width: 1000px;
			}

			img {
				position: absolute;
				height: 60px;
				top: 0;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			p {
				font-size: 1.6rem;
				line-height: 2.6rem;
			}
			p:nth-child(3) {
				margin: 40px 0 20px;
				font-size: 2.3rem;
			}
			p:nth-child(4) {
				color: $brown1;
				font-size: 1.7rem;
			}
		}

		.bg-map {
			position: absolute;
			background: url(./../img/gmap.jpg) center/cover;
			z-index: 5;
			width: 100%;
			height: 40vh;
			bottom: -200px;
		}
	}
}
